<!--<style>
  h1{
      text-align: center;
      color: cornflowerblue;
      font-family: "Garet Heavy";
      font-size: 50px;
  }

  h2{
      text-align: left;
      margin-top: 200px;
      margin-left: 100px;
      font-family: 'Archivo', sans-serif;
      font-style: italic;
  }

  .center{
      text-align: center;
  }
</style>

<h2>Bem vindos ao site da LAENDO - Liga odontologica</h2>
<p>Adicionar dois campos ao post: Autor e resumo do post para o index</p>

<div class="center">
  <p>Clique abaixo para criar um post! </p>
  <%= link_to "Criar post!", new_post_path%>

  <p>Clique aqui para visualizar todos os posts!</p>
  <%= link_to "Visualizar posts!", posts_path %>
</div>

-->

<style>
    .btn-custom-primary {
        background-color: rgba(69,1,0,1);
        border-color: rgba(69,1,0,1);
    }
    .btn-custom-primary:hover {
        background-color: rgba(50,1,0,1); /* Cor alternativa ao passar o mouse */
        border-color: rgba(50,1,0,1);
    }
    .text-gold {
        color: gold;
    }
    .text-gold:hover {
        color: white;
    }
    .miau{

    }

</style>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <!-- Destaque -->
      <div class="jumbotron">
        <div class="d-flex align-items-center">
          <h1 class="display-4 mr-3">LAENDO</h1>
          <img src="<%= asset_path('logo/logo.png') %>" style="width: 100px; height: auto;" class="img-fluid ml-auto" alt="Logo">
        </div>
        <p class="lead">Liga Acadêmica de Endodontia- ASCES-UNITA</p>
        <hr class="my-4">
        <p>📍Asces-Unita
          🗓️2023.2
          📬 <%= mail_to "laendoascesunita@gmail.com", "laendoascesunita@gmail.com" %>
          </p>
        <p>
          Orientadores: <a href="https://www.instagram.com/silvafilhojoaomanoel/" >@silvafilhojoaomanoel</a>
          | <a href="https://www.instagram.com/ju_bezerra/">@ju_bezerra </a>
        </p>
        <br>
        <div class="justify-content-center d-flex">
          <%= link_to "Conhecer mais", posts_path, class: "btn btn-custom-primary text-gold" %>
        </div>

      </div>
    </div>



    <div class="col-md-4">
      <!-- Barra lateral (opcional) -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Últimas publicações</h5>
          <div id="posts">
            <% @posts.each do |post| %>
              <div id="<%= dom_id post %>" class="card mt-4 text-center custom-card-margin">
                <div class="card-body">
                  <h5 class="card-title", style="font-size: 30px; font-style: normal"><%= post.title %></h5>
                  <p class="card-text", style="font-size: 12px;font-style: italic">Por: <%= post.author %></p>
                  <p class="card-text">Resumo: <%= post.summary %></p>
                  <p class="card-text" >Tags: <strong><%= post.tags %></strong></p>

                  <div class="text-center">
                    <br>
                    <%= link_to "Ler mais", post, class: "btn btn-custom-primary text-gold" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div>
      </div>
    </div>
  </div>
</div>
