<style>
  p{
      font-family: Archivo, sans-serif;
      font-style: italic;
      font-size: 12px;
  }
  .btn-custom-primary {
      background-color: rgba(69,1,0,1);
      border-color: rgba(69,1,0,1);
  }
  .btn-custom-primary:hover {
      background-color: rgba(50,1,0,1); /* Cor alternativa ao passar o mouse */
      border-color: rgba(50,1,0,1);
  }
  .text-gold {
      color: gold;
  }
  .text-gold:hover {
      color: white;
  }
</style>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <%= form_with(model: post, class: "form") do |form| %>
        <% if post.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% post.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label "Titulo do post:", class: "text-center" %>
          <p>Escreva um titulo que atraia! 😉</p>
          <%= form.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label "Conteudo", class: "text-center" %>
          <p>Escreva o que quiser, como quiser! 😎</p>
          <%= form.text_area :content, class: "form-control h-auto", rows: 5 %>
        </div>

        <div>
          <%= form.label "Resumo", class: "text-center" %>
          <p>Escreva um resumo interessante para as pessoas se interessarem!</p>
          <%= form.text_area :summary, class: "form-control h-auto", rows: 5 %>
        </div>

        <div class="form-group">
          <%= form.label "Autor", class: "text-center" %>
          <p>Nada melhor que receber creditos pelo seu conteudo!😉</p>
          <%= form.text_field :author, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label "Tags", class: "text-center" %>
          <p>Adicione palavras chave para que encontrem o que você escreveu!😉</p>
          <%= form.text_field :author, class: "form-control" %>
        </div>

        <div class="form-group text-center">
          <%= form.submit "Publicar post!", class: "btn btn-custom-primary text-gold" %>

          <%= link_to "Retornar à todos os posts", posts_path, class: "btn btn-custom-primary text-gold"%>
        </div>
      <% end %>

    </div>
  </div>
</div>
