<style>
    .btn-custom-primary {
        background-color: rgba(69,1,0,1);
        border-color: rgba(69,1,0,1);
    }
    .btn-custom-primary:hover {
        background-color: rgba(50,1,0,1); /* Cor alternativa ao passar o mouse */
        border-color: rgba(50,1,0,1);
    }
    .text-gold {
        color: gold;
    }
    .text-gold:hover {
        color: white;
    }
</style>

<p style="color: green"><%= notice %></p>

<%= render @post %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <h1 class="text-center mt-4 mb-3">Comentarios</h1>
    <p class="text-center mt-4 mb-3">Adicione comentarios a vontade</p>
    <hr class="my-4 h-auto">
  </div>
</div>
<% @post.comentarios.each do |comentario| %>
  <p>
    Autor: <%=comentario.autor %>
  </p>

  <p>
    Comentario: <%=comentario.content %>
  </p>
<% end %>


<%= form_for([@post, @post.comentarios.build]) do |f| %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label "Nome", class: "text-center" %><br>
          <%= f.text_field :autor, class: "form-control" %><br>
        </div>
        <div class="form-group">
          <%= f.label :Comentario, class: "text-center" %><br>
          <%= f.text_area :content, class: "form-control" %><br>
        </div>

        <div class="form-group">
          <%= f.submit "Enviar comentario!", class: "btn btn-custom-primary text-gold"%>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="btn-group text-center" role="group" aria-label="Basic example">
    <%= link_to "Editar publicação", edit_post_path(@post), class: "btn btn-custom-primary text-gold" %>

    <%= link_to "Retornar aos posts", posts_path, class: "btn btn-custom-primary text-gold" %>

    <%= button_to "Apagar posts", @post, method: :delete, class: "btn btn-custom-primary text-gold" %>
    <%= link_to "Pagina inicial", home_index_path, class: "btn btn-custom-primary text-gold" %>
  </div>
</div>
