<!DOCTYPE html>
<html>
  <style>
      .custom-navbar {
          background-color: rgba(69,1,0,1);
      }
      .custom-footer {
          background-color: rgba(69,1,0,1);
          color: #fff;
          padding: 20px 0;
      }
      .wrapper {
          min-height: 100vh;
          display: flex;
          flex-direction: column;
      }
      body {
          font-family: 'Archivo', sans-serif;
      }
      h1, h2, h3, h4, h5, h6 {
          font-family: 'Montserrat', sans-serif;
          font-style: italic;
      }
      .btn-custom-primary {
          background-color: rgba(69,1,0,1);
          border-color: rgba(69,1,0,1);
      }
      .btn-custom-primary:hover {
          background-color: rgba(50,1,0,1); /* Cor alternativa ao passar o mouse */
          border-color: rgba(50,1,0,1);
      }
      .text-gold {
          color: gold;
      }
      .text-gold:hover {
          color: white;
      }


  </style>
  <head>
    <title>LAENDO</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;1,200;1,400&family=Montserrat:wght@100;300&family=Roboto:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <%= link_to home_index_path do %>
      <img src="<%= asset_path('logo/logo.png') %>" style="width: 50px; height: auto;" class="img-fluid" alt="Logo">
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Posts", posts_path, class: "nav-link text-warning" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sobre", posts_path, class: "nav-link text-warning"%>
        </li>
        <li class="nav-item">
          <%= link_to "Contato", posts_path, class: "nav-link text-warning"%>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Adicione o link para o arquivo JavaScript do Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <%= yield %>
  </body>
  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
  <footer class="custom-footer text-center fixed-bottom">
    <br>
    <p>&copy; 2023 LAENDO. Todos os direitos reservados.</p>
  </footer>
</html>
